h3.text-center = t('.header')

= form_tag search_path, method: :post, remote: true, class: 'search-form' do
  .input-group
    span.input-group-addon.js-submit-form
      i.glyphicon.glyphicon-search
    = text_field_tag :text, '', class: 'form-control', autocomplete: 'off'

.result-block
