h3 = t('.header')

- unless @results.present?
  h3 = t('.nothing')

- @results.each do |result|
  .panel.panel-primary
    .panel-heading = result[:model]
    .panel-body
      img.img-rounded.pull-left src=result[:image]
      h3 = t('.dimensions')
      = result[:dimensions]
