.js-submit-form
  cursor: pointer

#waiting-layout
  background: rgba(23, 4, 4, 0.8)
  bottom: 0
  display: none
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: 10

  img
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
