doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"

    title Grabber

    /[if lt IE 9]
      script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
      script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  body
    #waiting-layout
      = image_tag 'wait.gif'
    .container
      = yield
    = javascript_include_tag 'application'
